@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root{
    --firstColor : rgb(52,225,225);
    --secoundColor: rgb(52, 235, 110);
    --bg1Color: rgb(35, 35, 35);
    --bg2Color: rgb(44, 44, 44);
}

*{
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: rgb(32, 32, 32);
}

#boxForCircles{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

#bigger{
    position: absolute;
    top: 0;
    left: 15rem;
    margin: 0;
    height: 450px;
    width: 450px;
    background: linear-gradient(90deg,rgba(52,235,110,0.6),rgba(52, 225, 225, 0.5));
    border-radius: 100%;
    animation: move1 60s linear infinite alternate;
}

#smaller{
    position: absolute;
    top: 0;
    left: 70rem;
    height: 240px;
    width: 240px;
    background: linear-gradient(90deg,rgba(52,225,225,0.8),rgba(52,235,11,0.4));
    border-radius: 100%;
    animation: move2 90s linear infinite alternate;
}

.formSpacer{
    background: rgba(255, 255, 255, 0.55);
    height: 2px;
    margin: 2rem auto 2rem;
    width: 80%;
    border-radius: 100%;
}

@keyframes move1{
    from{
        transform: translateY(-65vh);
    }
    to{
        transform: translateY(100vh);
    }
}

@keyframes move2{
    from{
        transform: translateY(95vh);
    }
    to{
        transform: translateY(-60vh);
    }
}